{% load i18n markup comments_tags %}
{% for item in news %}
    <div class="well sidebar-item">
        <h4><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h4>
        <h5><small>{{ item.created|date:'DATETIME_FORMAT' }}</small></h5>
        {{ item.content|markdown|truncatewords:15|linebreaksbr }}
        <hr>
        <a href="{{ item.get_absolute_url }}#comments">
            {% trans 'Comments' %}: {% get_comment_count item %}
        </a>
        <a class="pull-right" href="{{ item.author.get_absolute_url }}">{{ item.author }}</a>
        <div style="clear: both"></div>
    </div>
{% endfor %}
