{% extends 'base.html' %}

{% load pagination_tags i18n markup %}

{% block title %}{% trans 'News' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    {% for n in object_list %}
        <div class="well">
            <h4><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h4>
            <em>{{ n.created|date:'DATETIME_FORMAT' }}</em>
            {{ n.content|markdown|truncatewords_html:30 }}
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
