{% extends 'base.html' %}

{% load pagination_tags i18n %}

{% block title %}{% trans 'News' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% paginate %}<br/><br/>
    {% endif %} 
    
    {% for n in object_list %}
        <div class="news-block">
            <div>
                <span class="title">{{ n.title }}</span> <span class="date">{{ n.created|date:"d m Y" }}</span>
            </div>
            <div style="padding-left: 1em;">
                {{ n.content|truncatewords_html:20|safe }}
            </div>
            <div style="padding-left: 1em; text-align: right">
                <a href="{{ n.get_absolute_url }}">{% trans 'more' %}</a>
            </div>
        </div>
        {% if not forloop.last %}
            <hr size="1" style="color: #94CE4A;"/>
        {% endif %}
    {% endfor %}
    
    {% if is_paginated %}
        {% paginate %}
    {% endif %} 
{% endblock %}