{% extends 'base.html' %}

{% load pagination_tags comments_tags i18n markup components %}

{% block title %}{{ object }} | {% trans 'News' %} | {{ block.super }}{% endblock %}

{% block content %}
    <div class="news-block">
        <div>
            <span class="title">{{ object }}</span> <span>{{ object.created|date:'DATETIME_FORMAT' }}</span>
        </div>
        <br/>
        <div style="padding-left: 1em;">
            {{ object.content|markdown }}
        </div>
	    <div class="sociallinks">{% facebook_like object %}</div>
        <a style="float: right" href="{{ object.author.get_absolute_url }}">{{ object.author }}</a>
    </div>
    <hr style="clear: both"/>
    {% render_comment_list object %}
    {% render_comment_form object %}
{% endblock %}
