{% load i18n staticfiles markup comments_tags %}

<ul class="news_list">
{% for item in news %}
    <li>
        <div class="row-fluid small">
            <div class="span2">
                <span class="user_thumb pull-left">
                    <img src="{{ item.author.avatar }}&s=32" alt="{{ item.author }}" title="{{ item.author }}"/>
                </span>
            </div>
            <div>
                <div class="user_info pull-left">
                    <a href="{{ item.author.get_absolute_url }}">{{ item.author }}</a>
                    <span style="font-size: 12px;"><em>{{ item.created|date:'DATETIME_FORMAT' }} </em></span>
                </div>
                <div class="pull-right">
                    <a href="{{ item.get_absolute_url }}#comments">
                        <span class="label" title="Комментарии">
                            {% get_comment_count item %}
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-header">
            <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
        </div>
        <div style="font-size: 12px;">
            {{ item.content|markdown|truncatewords:15|linebreaksbr }}
        </div>
    </li>
{% endfor %}
</ul>
