{% extends 'base.html' %}

{% load pagination_tags i18n markup %}

{% block title %}{% trans 'News' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    {% for object in object_list %}
        <div class="well">
            {% include "news/metainfo.html" with avatar_size=32 %}
            <h4><a href="{{ object.get_absolute_url }}">{{ object.title|upper }}</a></h4>
            {{ object.content|markdown|truncatewords_html:30 }}
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
