{% load i18n %}
<div class="pull-right">
    <span class="user_thumb pull-left">
        <img src="{{ object.author.avatar }}{% if avatar_size %}&s={{ avatar_size }}{% endif %}" alt="{{ object.author }}" title="{{ object.author }}"/>
    </span>
    <div class="pull-left" style="padding: 0px 4px;">
        <div>
            <a href="{{ object.author.get_absolute_url }}">{{ object.author.first_name }} {{ object.author.last_name }}</a>
        </div>
        <div>
            <span style="font-size: 12px;"><em>{{ object.created|date:'DATETIME_FORMAT' }}</em></span>
        </div>
    </div>
</div>
