{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ category }} | {% trans 'Examples' %} | {{ block.super }}{% endblock %}

{% block content %}
    <h2>{{ category }}</h2>
    {% for item in category.examples.approved %}
        <p style="padding-left: 20px;">
            <a href="{{ item.get_absolute_url }}" {% if item.url %}class="link"{% endif %}>{{ item }}</a>
            <br/>
            {% trans 'Author' %}: <a href="{{ item.author.get_absolute_url }}">
                {{ item.author }}
            </a>                           
        </p>
    {% endfor %}
{% endblock %}
