        <div style="padding: 0.5em;" class="topic">
          <table width="100%" border="0">
            <tr>
              <td style="color: #326342;">
            &copy; 2008-{% now "Y" %} Ruslan Popov @ gmail.com &nbsp;&nbsp; Dmitriy Kostochko @ gmail.com
              </td>
              <td style="color: #326342; text-align: right;">
            <span>Powered by <a href="http://djangoproject.com/">Django {{ django_version }}</a></span>
              </td>
              <td style="color: #326342; text-align: right;" width="88">
{% if not settings.DEBUG %}
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров и"+
" посетителей за 24 часа' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
{% else %}
<div>Disabled in DEBUG mode</div>
{% endif %}
              </td>
            </tr>
          </table>
        </div>
