{% load i18n %}
<!--begin footer -->
<footer id="footer" class="clearfix">
    <!--change this to your stuff-->
    <section class="footerCredits">
        <div class="container">
            <ul class="clearfix">
                <li>&copy; 2008-{% now "Y" %} &nbsp;&nbsp; Ruslan Popov @ gmail.com &nbsp;&nbsp; Dmitriy Kostochko @ gmail.com</li>
                <li>Powered by <a href="http://djangoproject.com/">Django {{ django_version }}</a></li>
                <li>
                    {% if not settings.DEBUG %}
                    <!--LiveInternet counter--><script type="text/javascript"><!--
                    document.write("<a href='http://www.liveinternet.ru/click' "+
                    "target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
                    escape(document.referrer)+((typeof(screen)=="undefined")?"":
                    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                    screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                    ";"+Math.random()+
                    "' alt='' title='LiveInternet: показано число просмотров и"+
                    " посетителей за 24 часа' "+
                    "border='0' width='88' height='31'><\/a>")
                    //--></script><!--/LiveInternet-->
                    {% else %}
                    <div>Disabled in DEBUG mode</div>
                    {% endif %}
                </li>
                <li>
                    <a href="https://www.digitalocean.com/?refcode=4a9e52f90ab8"
                       id="digital_ocean_referal" title="Рефералка Digital Ocean"></a>
                </li>
            </ul>
        </div>
        <!--footerCredits container-->
    </section>
    <!--close section-->
</footer>
<!--/.footer-->