{% load staticfiles %}
<script type="text/javascript" src="{% static "markitup/jquery.markitup.js" %}></script>
<script type="text/javascript">
        var MEDIA_URL = "{{ STATIC_URL }}";
        var POST_PREVIEW_URL = "{% url 'main:markdown_preview' %}";
</script>
<script type="text/javascript" src="{% static "markitup/sets/markdown/set.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "markitup/skins/markitup/style.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "markitup/sets/markdown/style.css" %}" />
<script type="text/javascript" >
   jQuery(function($) {
      $("textarea#id_content").markItUp(mySettings);
   });
</script>


