<div style="font-family: arial; font-size: 12px;">
    <table width="100%" border="0">
        <tr>
            <td style="white-space: nowrap; padding: 4px 1em;">
                <span><a href="/">Главная</a></span>
                |<span><a href="{% url news:index %}">Архив новостей</a></span>
                |<span><a href="{% url dinette_category %}">Форум</a></span>
                |<span><a href="/text/hosting/">Площадка</a></span>
                |<span><a href="/text/examples/">Примеры</a></span>
            </td>
            <td width="40%">
            </td>
            <td width="40%">
            </td>
            <td style="white-space: nowrap; padding: 4px 1em;">
                {% if user.is_authenticated %}
                    <a href="{{ user.get_absolute_url }}">{{ user.username }}</a> | <a href="{% url accounts:logout %}">Logout</a>
                {% else %}
                    <a href="{% url accounts:login %}">Login</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
