{% load i18n static accounts_tags components %}

{# Определяем какое лого показывать, новогоднее или простое #}
{% is_happy_new_year as hny %}
{% if hny %}
{% static 'theme/images/logo_ny.png' as site_logo %}
{% else %}
{% static 'theme/images/logo.png' as site_logo %}
{% endif %}

<header class="header clearfix">
    <img src="{{ site_logo }}" class="print logo" alt="name of company" />
    <div class="container">

        <!-- begin #main_menu -->
        <div class="menu-wrapper">
            <!-- begin #main_menu -->
            <nav id="main_menu">
                <ul class="accordmobile">
                    <li><a href="{{ DJANGO_DOCUMENTATION_URL }}">Документация</a></li>
                    <li><a href="{% url 'news:index' %}" >{% trans 'News' %}</a></li>
                    <li><a href="{% url 'videos:index' %}" >{% trans 'Videos' %}</a></li>
                    <li><a href="{% url 'forum:index' %}" >{% trans 'Forum' %}</a></li>
                    <li class="parent"><a href="javascript:void(0)">{% trans 'Recipes' %}<i></i></a>
                        <ul>
                            <li><a href="{% url 'examples:index' %}">{% trans "All" %}</a></li>
                            <li><a href="{% url 'examples:add' %}">{% trans "Add recipe" %}</a></li>
                            {% for item in example_categories %}
                                <li><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'jobs:index' %}">{% trans 'Jobs' %}</a></li>
                    <li><a href="/about/">{% trans 'About' %}</a></li>
                    <li><a href="https://gitter.im/djbook-ru/djbookru">Join Gitter</a></li>
                    <li><a href="{% url 'examples:add' %}" class="btn btn-small">{% trans "Add your recipe" %}</a></li>
                </ul>
            </nav>
            <!-- close / #main_menu -->
        </div>
        <!-- close / #main_menu -->

        <!-- begin #logo -->
        <div id="logo">
            {% if request.path != '/' %}<a href="/">{% endif %}
            <img style="width: 100px; height: 100px;" alt="Django на русском" src="{{ site_logo }}" />
            <em>Django на русском</em>
            {% if request.path != '/' %}</a>{% endif %}
        </div>
        <!-- end #logo -->
        {% if rnd_message %}
        <h4 class="tagline visible-desktop"><div>{{ rnd_message.strip|linebreaksbr }}</div>
        {% endif %}
        </h4>
    </div>
    <!-- close / .container-->
</header>
