<aside class="widget">{% load i18n comments_tags %}
    <h5 class="short_headline"><span>{% trans 'Recipes' %}</span></h5>
    <div class="sidebar-tabs">
        <ul class="tabs">
            {% for obj in recipe_categories %}
            <li class="tab"><a href="#recipe-category-{{ obj.pk }}">{{ obj }}</a></li>
            {% endfor %}
        </ul>
        <div class="panels">
            {% for obj in recipe_categories %}
            <div id="recipe-category-{{ obj.pk }}">
                <ul class="blogposts clearfix">
                    {% for example in obj.examples.approved|slice:":6" %}
                    <li>
                        <span class="date" title="{{ example.created }}">
                            <span class="month">{{ example.created|date:"b" }}</span>
                            <span class="day">{{ example.created|date:"j" }}</span>
                            <span class="year">{{ example.created|date:"Y" }}</span>
                        </span>
                        <h3><a href="{{ example.get_absolute_url }}">{{ example }}</a></h3>
                        <a href="{{ example.author.get_absolute_url }}">
                            <p><i class="fa fa-pencil"></i> {{ example.author }}</p>
                        </a>
                        <a href="{{ example.topic.get_absolute_url }}" class="pull-right" style="margin-top: -1.1em">
                            <p>
                                <i class="fa fa-comments"></i>
                                {% blocktrans count counter=example|get_comment_count %}{{ counter }} comment{% plural %}{{ counter }} comments{% endblocktrans %}
                            </p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</aside>
