{% load staticfiles %}
{% load i18n components claims_tags %}

<div class="well">
    <a href="{% url accounts:map %}"><img src="{% static 'img/map.png' %}"/></a>
    <h5 style="margin-top: -12px"><a href="{% url accounts:map %}">{% trans "Add yourself on map!" %}</a></h5>
</div>

<div class="well">
    <h5>{% trans 'Found misprint?' %}</h5>
    <div>
        <p>{% trans 'Select it with the mouse and hit Enter' %}</p>
        <div>
            <span>Ctrl</span>-<span>Enter</span>
        </div>
    </div>
    {% claims_statistic %}
</div>

<div class="well yandex-money">
{% if not settings.DEBUG %}
  <table width="116" cellpadding="0" cellspacing="0" border="0" style="font: 0.8em Arial, sans-serif; border: 0px;">
    <tr>
      <td width="116" height="77" style="background:url(http://www.yandex.ru/redir?dtype=stred&pid=41&cid=132&url=https://img.yandex.net/i/money/top-1rub-default.gif) repeat-y; text-align:center" align="center" valign="bottom">
    <form style="margin: 0; padding: 0 0 2px;" action="https://money.yandex.ru/donate.xml" method="post">
      <input type="hidden" name="to" value="41001223475816"/>
      <input type="hidden" name="s5" value="1rub"/>
      <input type="submit" value="Дай рубль"/>
    </form>
      </td>
    </tr>
    <tr>
      <td width="116" height="38" style="background:url(https://img.yandex.net/i/money/bg-default.gif) repeat-y; text-align:center; padding: 5px 0; color: black;" align="center" valign="top">
    <b>на поддержку перевода</b>
      </td>
    </tr>
    <tr>
      <td>
    <img src="https://img.yandex.net/i/money/bottom-default.gif" width="116" height="40" alt="" usemap="#button" border="0" />
    <map name="button">
      <area alt="Яндекс" coords="38,2,49,21" href="http://www.yandex.ru"/>
      <area alt="Яндекс.Деньги" coords="52,1,84,28" href="https://money.yandex.ru"/>
      <area alt="Хочу такую же кнопку" coords="17,29,100,40" href="https://money.yandex.ru/choose-banner.xml"/>
    </map>
      </td>
    </tr>
  </table>
{% endif %}
    <h5>Ускорить процесс перевода!</h5>
    <p>ЯМ:41001223475816</p>
</div>

<div class="well" style="text-align: center; color: black; padding: 8px; -moz-border-radius: 4px; -webkit-border-radius: 4px;">
    <h5>Редактор ресурсов Gettext для Android</h5>
    <a href="https://play.google.com/store/apps/details?id=ru.securelayer.rad.ando"><img src="{% static "img/ando-qr.png" %}" title="Скачать редактор ресурсов Gettext для устройства под управлением Android"/></a>
</div>

<div class="well">
    <h5><a href="{% url examples:add %}">{% trans "Now you can add your own recipe." %}</a></h5>
</div>

<div class="well">
  <div style="font-size: 9px; font-weight: bold; margin: 4px 0px;">
    {% blocktrans %}
    <a href="https://github.com/RaD/djbookru/">Our site source code</a>
    <br/>
    <a href="https://github.com/Alerion/django_documentation/">Documentation translation</a>
    <br/>
    We appreciate your patches!
    {% endblocktrans %}
  </div>
</div>

{% user_counter %}

<div class="well">
  <div class="title">Русская группа</div>
  <div>
    <a href="http://groups.google.ru/group/django-russian?hl=ru">на Google</a>
  </div>
</div>

<div style="-moz-border-radius: 4px; padding: 6px; background-color: white; text-align: center;">
  {% if not settings.DEBUG %}
  <a href="http://docbook.org/">
    <img src="http://docbook.org/graphics/button.jpg" title="Данная книга написана с использованием технологии DocBook" border="0"/></a>
  {% endif %}
</div>
