{% load i18n components claims_tags %}
<div class="informer">
  <div style="font-size: 10px; font-weight: bold; margin: 4px 0px;">
    {% trans 'Found misprint?' %}
  </div>
  <div>
    {% trans 'Select it with the mouse and hit Enter' %}
    <div style="white-space: nowrap; margin: 4px; ">
      <span class="guibutton">Ctrl</span>-<span class="guibutton">Enter</span>
    </div>
  </div>
  {% claims_statistic %}
</div>

<br/>
<div style="text-align: center; color: black; background-color: #fff8a0; padding: 8px; -moz-border-radius: 4px; -webkit-border-radius: 4px;">
  <img src="https://securelayer.ru/static/pics/securelayer.png" title="SecureLayer: Сервис безопасной передачи данных."/>
  <a style="color: blue;" href="https://securelayer.ru/">SecureLayer</a>: Передавай данные по защищённому каналу! Просто, быстро и бесплатно!
</div>

<br/>

<div align="center">
<a href="http://pep8.ru" title="Python-сообщество"><img src="http://pep8.ru/static/badges/banner-100-150-sections.png" /></a>
</div>

<br/>

<div class="informer">
    <a href="{% url examples:add %}">{% trans "Now you can add your own recipe." %}</a>
</div>

<br/>

<div class="informer">
  <div style="font-size: 10px; font-weight: bold; margin: 4px 0px;">
    {% blocktrans %}
    The full repository of DjangoBook translation you can get on <a href="http://github.com/RaD/djangobook/">GitHub</a>.
    <br/>
    We appreciate your patches!
    {% endblocktrans %}
  </div>
</div>

<br/>

<div class="informer">
  <div style="font-size: 10px; font-weight: bold; margin: 4px 0px;">
    {% trans 'We are glad to hear your questions, comments or suggestions!' %}
    <br/>
    <a href="{% url main:feedback %}" target="_blank">
        ({% trans 'Open in new tab' %})
    </a>
  </div>
</div>

<br/>

{% user_counter %}

<br/>

<div class="informer">
  <div class="title">Русская группа</div>
  <div>
    <a href="http://groups.google.ru/group/django-russian?hl=ru">на Google</a>
  </div>
</div>

<br/>

<div class="yandex-money">
{% if not settings.DEBUG %}
  <table width="116" cellpadding="0" cellspacing="0" border="0" style="font: 0.8em Arial, sans-serif; border: 0px;">
    <tr>
      <td width="116" height="77" style="background:url(http://www.yandex.ru/redir?dtype=stred&pid=41&cid=132&url=https://img.yandex.net/i/money/top-1rub-default.gif) repeat-y; text-align:center" align="center" valign="bottom">
    <form style="margin: 0; padding: 0 0 2px;" action="https://money.yandex.ru/donate.xml" method="post">
      <input type="hidden" name="to" value="41001223475816"/>
      <input type="hidden" name="s5" value="1rub"/>
      <input type="submit" value="Дай рубль"/>
    </form>
      </td>
    </tr>
    <tr>
      <td width="116" height="38" style="background:url(https://img.yandex.net/i/money/bg-default.gif) repeat-y; text-align:center; padding: 5px 0; color: black;" align="center" valign="top">
    <b>на поддержку перевода</b>
      </td>
    </tr>
    <tr>
      <td>
    <img src="https://img.yandex.net/i/money/bottom-default.gif" width="116" height="40" alt="" usemap="#button" border="0" />
    <map name="button">
      <area alt="Яндекс" coords="38,2,49,21" href="http://www.yandex.ru"/>
      <area alt="Яндекс.Деньги" coords="52,1,84,28" href="https://money.yandex.ru"/>
      <area alt="Хочу такую же кнопку" coords="17,29,100,40" href="https://money.yandex.ru/choose-banner.xml"/>
    </map>
      </td>
    </tr>
  </table>
{% endif %}
  <div class="title">Ускорить процесс перевода!</div>
  <div class="webmoney">
    ЯМ:41001223475816<br/>
  </div>
</div>

<br/>

<div style="border: 1px solid green; -moz-border-radius: 4px; padding: 6px; background-color: white; text-align: center;">
  {% if not settings.DEBUG %}
  <a href="http://docbook.org/">
    <img src="http://docbook.org/graphics/button.jpg" title="Данная книга написана с использованием технологии DocBook" border="0"/></a>
  {% else %}
  <div>Disabled in DEBUG mode</div>
  {% endif %}
</div>

<br/>
