        <div style="padding: 7px;" class="topic">
          <table width="100%" border="0">
            <tr>
              <td>
            <a href="/">
              <img src="{{ MEDIA_URL }}img/djangobook-title.png" border="0"/>
            </a>
              </td>
              <td style="color: #326342;">
            {# Начало поиска от Google #}
            <form action="{% url main:search %}" id="cse-search-box">
              <div>
                <input type="hidden" name="cx" value="partner-pub-2091160070233929:hgadcucfsly" />
                <input type="hidden" name="cof" value="FORID:11" />
                <input type="hidden" name="ie" value="UTF-8" />
                <input type="text" name="q" size="60" />
                <input type="submit" name="sa" value="&#x041f;&#x043e;&#x0438;&#x0441;&#x043a;" />
              </div>
            </form>
            <script type="text/javascript" src="http://www.google.ru/coop/cse/brand?form=cse-search-box&amp;lang=ru"></script>
            {# Конец поиска от Google #}
              </td>
              <td style="text-align: right;">
            <a href="http://www.jino.ru/services/hosting_django.html"><img src="{{ MEDIA_URL }}img/jino_175x56.png" border="0"
            alt="Хостинг Django от «Джино»" title="Хостинг Django от «Джино»"/></a>
            {% comment %}
            <div style="width: 175px; height: 56px; border: 1px solid black; -moz-border-radius: 8px; background-color: white; color: black; font-family: comic sans ms; font-size: 120%; text-align: center; vertical-align: middle; padding: 0.5em;">
              Рекламное место ждёт своего хозяина!</div>
            {% endcomment %}
              </td>
            </tr>
          </table>
        </div>