<div class="top-container container-fluid">{% load i18n %}
    <div class="row-fluid">
        <div class="span4 logo">
            <a href="/">
                <img src="{{ MEDIA_URL }}img/djangobook-title.png" border="0"/>
            </a>
        </div>
        <div class="span6 search">
            <form method="get" action="{% url main:search %}" class="search-form" >
                <input type="text" name="q" value="{{ searching_for }}" style="width: 80%" placeholder="{% trans 'Search' %}"/>
                <input type="submit" class="btn" name="" value="{% trans 'Search' %}" style="margin-top: -4px">
            </form>
        </div>
        <div class="span2">
            {% if not settings.DEBUG %}
            <a href="http://www.jino.ru/services/hosting_django.html">
                <img src="{{ MEDIA_URL }}img/jino_175x56.png" border="0"
                   alt="Хостинг Django от «Джино»"
                   title="Хостинг Django от «Джино»"/>
            </a>
            {% endif %}
        </div>
    </div>
</div>

