{% load thumbnail i18n %}

<div class="comment well {% if item.submit_date > last_comments_read %}new{% endif %}">
    <span class="user_thumb pull-left">
        <img src="{{ item.user.avatar }}" alt="{{ item.user }}" />
    </span>
    <div class="table_user_deets pull-left">
        <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
        <span class="comment_date"><em>{{ item.submit_date|timesince }} {% trans 'ago' %}</em></span>
    </div>

    {% if user.is_staff and perms.comments.delete_comment %}
        <a href="{% url admin:comments_comment_delete item.pk %}" class="delete pull-right" target="blank">
            <i class="icon-remove"></i>
        </a>
    {% endif %}
    {% if user.is_staff and perms.comments.change_comment %}
        <a href="{% url admin:comments_comment_change item.pk %}" class="edit pull-right" target="blank">
            <i class="icon-edit"></i>
        </a>
    {% endif %}
    <span class="pull-right">|</span>
    <a href="{{ item.get_absolute_url }}" class="link pull-right">{% trans 'View comment' %}</a>
    {% if item.reply_to %}
        <p class="replied well">
            <a href="{{ item.reply_to.get_absolute_url }}">{% trans 'answer to' %} {{ item.reply_to.user }}</a>
            <br/>
            {{ item.reply_to.content|linebreaksbr }}
        </p>
    {% endif %}
    <div class="text">
        <p>{{ item.content|linebreaksbr }}</p>
    </div>
</div>