{% load thumbnail %}

<div class="comment" comment_id="{{ item.id }}">
    <div class="table_user_deets">
        <span class="user_thumb">
            {% if item.user.photo  %}
                <img src="{% thumbnail item.user.photo 80x80 %}" />                                                    
            {% else %}                                                        
                <img src="http://www.gravatar.com/avatar/{{ item.user.getMD5 }}.jpg" alt="" />
            {% endif %}
        </span>
        <a href="{{ item.user.get_absolute_url }}">{{ item.user }}</a>
        <span class="comment_date">{{ item.submit_date|timesince }} назад</span>
    </div>
    <div class="comment_text">
        <a name="comments-{{ item.id }}"></a>
        <a href="#" class="floatright reply"  comment_id="{{ item.id }}">
            <span>Ответить</span>
        </a>
        <a href="#comments-{{ item.id }}" class="floatright" style="margin-right: 5px">Линк</a>
        {% if item.reply_to %}
            <a href="#comments-{{ item.reply_to.id }}">ответ для {{ item.reply_to.user }}</a>
            <div class="replied">{{ item.reply_to.content|linebreaksbr }}</div>
        {% endif %}
        <p>{{ item.content|linebreaksbr }}</p>
    </div>
</div>