{% load i18n %}
{% if form %}
<div class="comment-reply-to"></div>
<form method="post" action="{% url comments:post %}" id="comment-form">
    {% csrf_token %}
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <div>
        {{ form.content }}
    </div>
    <button type="submit" class="submit btn"><span>{% trans 'Post' %}</span></button>
</form>
<script type="text/javascript">
jQuery(document).ready(function($){
    $('#comment-form').ajaxForm({
        dataType: 'json',
        success: function(data, status, xhr, $form){
            if (data.success){
                $('#id_comment_form_content').clearFields();
                $('#id_comment_form_reply_to').val('');
                if (update_comments){
                    update_comments();
                }
            } else {
                for (key in data.errors){
                    var $field = $('input[name="'+key+'"]', $form);
                    var error = '<p class="error_list">'+data.errors[key]+'</p>';
                    if ($field.length){
                        $('input[name="'+key+'"]', $form).before(error);
                    }else{
                        $form.prepend(error);
                    }
                };
            }
            $('.submit', $form).prop('disabled', false);
        },
        beforeSubmit: function(formData, $form, options){
            $('p.error_list', $form).remove();
            var form = $form[0];
            if (!form.content.value){
                $(form.content).before('<p class="error_list">{% trans "Enter comment please." %}</p>');
                return false;
            }
            $('.submit', $form).prop('disabled', true);
        }
    });

    $('.reply').live('click', function(){
        $('#id_comment_form_reply_to').val($(this).attr('comment_id'))
        $('#id_comment_form_content').focus();
        var $comment = $(this).parents('.comment');
        var username = $comment.find('.table_user_deets a').text();
        $('.comment-reply-to').html('{% trans "Answering to: " %}'
            +'<a href="#comments-'+$comment.attr('comment_id')+'">'+username+'</a>');
        return false;
    });
});
</script>
{% else %}
    <div class="comment-form">
        <a href="{% url accounts:login %}?next={{ next_page }}">{% trans 'Login please to post comment' %}</a>
    </div>
{% endif %}
