<aside class="widget">{% load i18n staticfiles markup comments_tags %}
    <h5 class="short_headline"><span>{% trans 'Something to watch' %}</span></h5>
    <ul class="blogposts clearfix">
        <li class="video">
            {{ index_video.video_preview_code|safe }}
        </li>
    </ul>
</aside>
{% comment %}
<div class="row-fluid equalHero last-videos">
    {% for video in index_video %}
        <div class="span6" style="height: 215px">
            <div style="float: left; margin: 10px;">{{ video.video_preview_code|safe }}</div>
            <h4><a href="{{ video.get_absolute_url }}">{{ video }}</a></h4>
        </div>
    {% endfor %}
</div>
{% endcomment %}