{% extends 'base.html' %}

{% load pagination_tags i18n %}

{% block title %}{% trans 'Videos' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    <div class="content video list">
        {% for video in object_list %}
        <div class="row">
            {% if forloop.counter|divisibleby:2 %}
                <div class="span301px">
                    <h4>{{ video }}</h4>
                    {{ video.description|linebreaks }}
                </div>
                <div class="span301px">
                    {{ video.video_embed_code|safe }}
                </div>
            {% else %}
                <div class="span301px">
                    {{ video.video_embed_code|safe }}
                </div>
                <div class="span301px">
                    <h4>{{ video }}</h4>
                    {{ video.description|linebreaks }}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    
    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
