{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Authentication' %}{% endblock %}

{% block content %}
    <h1>{% trans "Authenticate please" %}</h1>
    {% if not user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form }}
                <tr>
                    <td></td>
                    <td><button type="submit">{% trans 'Login' %}</button></td>
                </tr>
            </table>
        </form>
        <a class="twitter" href="{% url socialauth_twitter_login %}?next={{ next }}"> twitter</a> 
        <a class="open-id" href="{% url socialauth_openid_login %}?next={{ next }}">openid</a>
        <a class="google" href="{% url socialauth_google_login %}?next={{ next }}">gmail</a>
    {% else %}
        {% trans 'You are authenticated already' %}
    {% endif %}
{% endblock %}