{% extends 'jobs/base.html' %}

{% load pagination_tags i18n markup components %}

{% block content %}
    {% for obj in object_list %}
    <article class="entry-post">
        <header class="entry-header">
            <h3 class="entry-title">
                <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
            </h3>
            <div class="byline">
                <i class="fa fa-clock-o"></i> <abbr class="published" title="{{ obj.pub_date|date:'DATETIME_FORMAT' }}">{{ obj.pub_date|date:'DATE_FORMAT' }}</abbr>&nbsp;&nbsp;<i class="fa fa-location-arrow">&nbsp;{{ obj.location }}</i>&nbsp;&nbsp;<i class="fa fa-user">&nbsp;{{ obj.company_name }}</i>&nbsp;&mdash;&nbsp;<i>{{ obj.get_employment_type_display }}</i>
            </div>
        </header>
        <!--end entry-header -->
        <!--begin loop of entry-posts for summary page-->
        <div class="entry-content">
            {{ obj.description|filter_markdown:35 }}
            <p class="more right"><a class="btn" href="{{ obj.get_absolute_url }}">{% trans 'Read More' %} →</a></p>
        </div>
        <!-- close entry-content -->
        <footer class="entry-footer">
            {{ obj.pub_date|pretty_date:'blog' }}
        </footer>
    </article>
    {% endfor %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}