{% extends "jobs/base.html" %}

{% load components pagination_tags i18n %}

{% block title %}
    {{ company }}&nbsp;{% trans "job listings" %} | {{ block.super }}
{% endblock %}

{% block content %}
    <aside class="widget">
        <ul class="blogposts clearfix">
            {% for obj in object_list %}
            <li>
                {{ obj.pub_date|pretty_date }}
                <h3><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></h3>
                <a href="{{ obj.get_all_vacancies_company }}"><p><i class="fa fa-user"></i>&nbsp;{{ obj.company_name }}</p></a>
                <p class="pull-right" style="margin-top: -1.1em"><i class="fa fa-location-arrow"></i>&nbsp;{{ obj.location }}&nbsp;&mdash;&nbsp;{{ obj.get_employment_type_display }}</p>
            </li>
            {% endfor %}
        </ul>
    </aside>

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}