#header {
    background-color: #0c3907;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    text-indent: -9999px;
    background: transparent url(../images/logo.png) 10px 5px no-repeat;
    height: 51px;
    width: 243px;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}
