.widget.forum {
    margin: 0 0 18px 0;
}

.widget.forum p {
    font-size: 1em;
    margin: 0px;
}

.widget.forum pre {
    margin: 5px 0;
    padding: 5px;
}

.forum .breadcrumb {
    margin: 0 0 10px;
}

.widget.forum table {
    font-size: 1.05em;
}

.widget.forum table .topic-name {
    font-weight: bold;
}

.widget.forum .table th.number-column {
    width: 70px;
}

.widget.forum .table th.last-post {
    width: 20%;
    font-size: 0.8em;
}

.widget.forum .table td.topic-name {
    vertical-align: middle;
}

.widget.forum .table td.smaller,
.widget.forum .table th.smaller {
    font-size: 0.9em;
}

.widget.forum .table td.last-post a {
    text-decoration: none;
}

.widget.forum .table td.center,
.widget.forum .table th.center {
    text-align: center;
    vertical-align: middle;
}

.post {
    ~border: 1px solid #ddd;
    margin: 0 0 16px 0;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.post .table {
    margin: 0;
}

.post .table td {
    border: none;
}

.post .table td {
    background: none;
}

.post .table .author, .post .table .author-footer {
    border-right: 1px solid #ddd;
    width: 165px;
    background: url(../images/5p.png);
    overflow: hidden;
}

.post .table .author a, .post .table .content-footer a {
    text-decoration: none;
}

.post .table .author, .post .table .content-footer {
    font-size: 0.85em;
}

.post .table .content-footer {
    text-align: right;
}

.post .table .content-footer .divider {
    color: #ccc;
    margin: 0 5px;
}

.post .table .content hr {
    margin: 8px 0;
}

.post .table .content .signature {
    font-size: 0.8em;
    color: #63905c;
}

.post-form .submit-button {
    width: 100px;
    margin: 0 0 -35px 601px;
}

.post blockquote {
    font-size: 0.9em;
}

.post blockquote p {
    margin: 0 0 4px;
}

.topic-toolbar {
    margin-bottom: 10px;
}