.widget.forum {
    margin: 0 0 18px 0;
}

.widget.forum p {
    font-size: 1em;
    margin: 0 0 10px;
}

.widget.forum pre {
    margin: 5px 0;
    padding: 5px;
}

.forum .breadcrumb {
    margin: 0 0 10px;
}

.widget.forum table {
    font-size: 1.05em;
}

.widget.forum table .topic-name {
    font-weight: bold;
}

.widget.forum table .topic-name .description {
    font-weight: normal;
}

.widget.forum .table th.number-column {
    width: 70px;
}

.widget.forum .table th.last-post {
    width: 20%;
    font-size: 0.8em;
}

.widget.forum .table td.topic-name {
    vertical-align: middle;
}

.widget.forum .table td.smaller,
.widget.forum .table th.smaller {
    font-size: 0.9em;
}

.widget.forum .table td.last-post a {
    text-decoration: none;
}

.widget.forum .table td.center,
.widget.forum .table th.center {
    text-align: center;
    vertical-align: middle;
}

.post {
    ~border: 1px solid #ddd;
    margin: 16px 0 16px 0;
    padding: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

.post {
    margin: 10px 0 10px 0;
}

.post div {
    background: none;
}

.post .author, .post .author-footer {
    border-right: 1px solid #ddd;
    width: 165px;
    min-width: 165px;
    background: url(../images/5p.png);
    overflow: hidden;
}

.post .content {
    overflow: hidden;
}

.post .content h1,
.post .content h2,
.post .content h3,
.post .content h4,
.post .content h5,
.post .content h6 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.post .content h1 {
    font-size: 190%;
}

.post .content h2 {
    font-size: 175%;
}

.post .content code {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.post .content .post-content {
    -ms-word-break: break-all;

        /* Non standard for webkit */
        word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
}

.post .author a, .post .content-footer a {
    text-decoration: none;
}

.post .author, .post .content-footer {
    font-size: 0.85em;
}

.post .content-footer {
    text-align: right;
}

.post .content-footer .divider {
    color: #ccc;
    margin: 0 5px;
}

.post .content hr {
    margin: 8px 0;
}

.post .content .signature {
    font-size: 0.8em;
    color: #63905c;
}

.post-form .submit-button {
    width: 100px;
    margin: 0 0 -60px 700px;
}

.post blockquote {
    font-size: 0.9em;
}

.post blockquote p {
    margin: 0 0 4px;
}

.topic-toolbar {
    margin-bottom: 10px;
}