/*	No JS styles 
========================================================== */
.no-js li.st-content-wrapper, .no-js .s-accordion li.s-wrap div.s-content{
	overflow: visible!!important;
	height:auto!important;
}
.no-js li.st-content-wrapper .st-content, .no-js .s-accordion li.s-wrap div.s-content {
    display:block!important;
    clear:both!important;
	visibility:visible!important;
	overflow: visible!!important;
}

.no-js .sidebar-tabs .panels .pane {display:block!important;visibility:visible!important;clear:both!important;}
.no-js .content-tabs .panels .pane {display:block!important;visibility:visible!important;clear:both!important;}

/*	Slide to Top Accordion for short headers 
========================================================== */
.slide-to-top .trigger i { position:absolute; right:10px; }
.slide-to-top .st-open .trigger i:before { content: "\f078"; }

.slide-to-top{
    width:100%;
    margin-bottom:4%;
}
.slide-to-top ul.accordion-st-wrapper{
    width:100%;
    padding:0;
    margin:0;
}
li.st-content-wrapper{
    height: 49px;
    overflow: hidden;
    list-style:none;
    margin:0;
    padding:0;
	border-top:1px solid #ddd;
	border-bottom:3px solid transparent;
}
li.st-content-wrapper .trigger{
    font-size: 25px;
    display: block;
	position: relative;
    line-height: 50px;
    padding:0 10px;
    background:#f8f8f8;
	outline:none;
	cursor:pointer; 
	text-decoration:none;
}
li.st-content-wrapper .st-content{
    padding: 2% 3%;
    border-left:1px solid #ddd;
}

/*	Fancy Styles for Slide to Top Accordion for short headers 
========================================================== */
.slide-to-top.fancy li.st-content-wrapper{
    height: 49px;
	border:0px;
	border-bottom:3px solid transparent;
}

.slide-to-top.fancy li.st-content-wrapper .trigger{
    line-height: 50px;
    background:#63905c;
    color:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.slide-to-top.fancy li.st-content-wrapper.st-open .trigger{
	background:#87af77;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.slide-to-top.fancy li.st-content-wrapper .st-content{
	padding:2% 3%;
	border:1px solid #d8dfe5;
	background:#f7f7f9;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	margin-bottom:4px;
	margin-top:3px;
}


/*	Simple Accordion for unknown length headers (NOT FAQ) see below for faq styles
========================================================== */
.s-accordion {margin:0 0 4% 0;padding:0;width:100%;}
.s-accordion li.s-wrap {list-style:none;}
.s-accordion .trigger {margin:0;padding:0;}
.s-accordion .trigger a {
	display:block;
	padding:5px 35px 5px 10px;
	position:relative;
	text-decoration:none;
	background:#f8f8f8;
	border-top:1px solid #ddd;
	margin-bottom:3px;
}
.s-accordion .trigger i {position:absolute; right:10px;top:5px; }
.s-accordion li.s-wrap div.s-content {
	padding:2% 3%;
	border-left:1px solid #ddd;
}
.s-accordion .trigger .active i:before { content: "\f078"; }


/*	FAQ Simple Accordion for unknown length headers
========================================================== */
.s-accordion.faq .trigger .active i:before { content: "\f056"; }
.s-accordion.faq .trigger a {
	padding:5px 10px 5px 35px;
}
.s-accordion.faq .trigger i {position:absolute; right:auto;left:10px;top:5px; }


/*	Simple Accordion Fancy Styles
========================================================== */
.s-accordion.fancy {margin:0 0 4% 0;padding:0;width:100%;}
.s-accordion.fancy .trigger a {
	display:block;
	padding:5px 35px 5px 10px;
	position:relative;
	text-decoration:none;
	background:#63905c;
	color:#fff;
	border:0px;
	margin-bottom:4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.s-accordion.fancy .trigger a.active {
	background:#87af77;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
.s-accordion.fancy.faq .trigger a {
	padding:5px 10px 5px 35px;
}
.s-accordion.fancy .trigger i {position:absolute; right:10px;top:7px; }
.s-accordion.fancy.faq .trigger i {position:absolute; right:auto;left:10px;top:7px; }
.s-accordion.fancy li.s-wrap div.s-content {
	padding:2% 3%;
	border:1px solid #d8dfe5;
	background:#f7f7f9;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	margin-bottom:4px;
}
.s-accordion.fancy .trigger .active i:before { content: "\f078"; }
.s-accordion.fancy.faq .trigger .active i:before { content: "\f056"; }

/* end fancy styles on simple accordion */



/*	Side Bar Tabs
========================================================== */
.sidebar-tabs {padding:0;margin:0;}
.sidebar-tabs .tabs { margin: 0 0 5px; padding:0;*zoom:1;}
.sidebar-tabs .tab { float:left;margin:0 5px 5px 0;font-size:11px; list-style:none;}
.sidebar-tabs .tab a { display: block; padding: 5px 8px;text-decoration:none;background-image:url(../images/7p.png);
-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}
.sidebar-tabs .tab a:hover {background:#356635;color:#fff;}
.sidebar-tabs .tab a.active  {background:#356635;color:#fff;}
.sidebar-tabs .panels {clear:both;position:relative;padding:10px 0;margin:0}


/*	Content Tabs
========================================================== */
.content-tabs {padding:0;margin:0 0 4% 0;}
.content-tabs .tabs { margin: 0 0 5px; padding:0; }
.content-tabs .tab { float:left;margin:0 5px 5px 0;list-style:none;}
.content-tabs .tab a { 
display: block; 
padding: 10px 15px;
text-decoration:none;
background-image:url(../images/7p.png);
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}
.content-tabs .tab a:hover {background:#356635;color:#fff;}
.content-tabs .tab a.active  {background:#356635;color:#fff;}
.content-tabs .panels {clear:both;position:relative;padding:2% 3%;border:1px solid #d8dfe5;border-bottom:5px solid #87af77}


/* clearing all */
.st-content, .content-tabs .panels .pane, div.s-content { *zoom: 1}
.st-content:before, .st-content:after, .content-tabs .panels .pane:after, .content-tabs .panels .pane:before,
.s-content:before, .s-content:after
{display: table; content: ""; line-height: 0;}
.st-content:after, .content-tabs .panels .pane:after, .s-content:after {clear: both}


/*==================================================== 
******************************************************
/*	DEVICES less than 767 pixels wide 
******************************************************
====================================================== */
@media only screen and (max-width: 767px) {

.content-tabs {padding:0;margin:0 0 4% 0;border:1px solid #d8dfe5;border-bottom:1px solid #87af77;padding:2%}
.content-tabs .panels {clear:both;position:relative;padding:2% 0 0 0;border:0px solid #d8dfe5;border-bottom:0px solid #87af77}

.content-tabs .tab a { 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

li.st-content-wrapper{
    height: 30px;
}
li.st-content-wrapper a.trigger{
    font-size: 14px;
    line-height: 30px;
}

}/**/

/*==================================================== 
******************************************************
/*	DEVICES less than 400 pixels wide 
******************************************************
====================================================== */
@media only screen and (max-width: 400px) {

li.st-content-wrapper{
    height: 30px;
}
li.st-content-wrapper a.trigger{
    font-size: 12px;
    line-height: 30px;
}


}/**/


/* ================================================== 
	Print Media Styles
================================================== */
 @media print {
 
li.st-content-wrapper, .s-accordion li.s-wrap div.s-content{
	overflow: visible!!important;
	height:auto!important;
}
li.st-content-wrapper .st-content, .s-accordion li.s-wrap div.s-content {
    display:block!important;
    clear:both!important;
	visibility:visible!important;
	overflow: visible!!important;
}

.sidebar-tabs .panels .pane {display:block!important;visibility:visible!important;clear:both!important;}
.content-tabs .panels .pane {display:block!important;visibility:visible!important;clear:both!important;}


 }/*end print*/
