{% extends 'base.html' %}

{% load i18n pagination_tags %}
{% load url from future %}

{% block title %}{% trans 'Code Review' %} | {{ block.super }}{% endblock %}

{% block content %}
    <a href="{% url 'code_review:add' %}" class="btn">{% trans "Add snippet" %}</a>
    <a href="{% url 'code_review:index' %}" class="btn">{% trans "View snipets" %}</a>
    {% if user.is_authenticated %}
        {% if my_comments %}
            <a href="?" class="btn">{% trans "Show all" %}</a>
        {% else %}
            <a href="?my=true" class="btn">{% trans "To my snippets" %}</a>
        {% endif %}
    {% endif %}
    <br><br>

    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    {% for obj in object_list %}
        <div class="well">
            <h4><a href="{{ obj.file.snipet.get_absolute_url }}">{{ obj.file.snipet }}</a></h4>
            <em>{{ obj.created|date:'DATETIME_FORMAT' }}</em> | <a href="{{ obj.author.get_absolute_url }}">{{ obj.author }}</a>

            <p>{{ obj.get_content }}</p>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
