{% extends 'base.html' %}

{% load i18n staticfiles %}
{% load url from future %}

{% block title %}{{ object }} | {% trans 'Code Review' %} | {{ block.super }}{% endblock %}

{% block highlightjs %}{% endblock %}

{% block head %}
    <script src="{% static "syntaxhighlighter_3.0.83/scripts/shCore.js" %}"></script>
    <script src="{% static "syntaxhighlighter_3.0.83/scripts/shBrushPython.js" %}"></script>

    <link rel="stylesheet" href="{% static "syntaxhighlighter_3.0.83/styles/shCore.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "syntaxhighlighter_3.0.83/styles/shThemeDefault.css" %}" type="text/css"/>

    <script src="{% static "js/underscore-min.js" %}"></script>
    <script src="{% static "js/backbone.js" %}"></script>

    <link rel="stylesheet" href="{% static "code_review/css/base.css" %}" type="text/css"/>
    <script src="{% static "code_review/js/base.js" %}"></script>

    <script type="text/javascript">
        jQuery(function($){
            IS_AUTHENTICATED = {% if user.is_authenticated %}true{% else %}false{% endif %};

            SyntaxHighlighter.toolbar.items.list = ['help', 'hideComments'];
            SyntaxHighlighter.toolbar.items.help = {
                getHtml: function(){
                    return '<a href="#" class="btn show-help"><i class="icon-question-sign"></i></a>'
                }
            }
            SyntaxHighlighter.toolbar.items.hideComments = {
                getHtml: function(){
                    return '<a href="#" class="btn toggle-comments"><i class="icon-minus-sign"></i></a>'
                }
            }

            SyntaxHighlighter.highlight();

            $('div.syntaxhighlighter').each(function(){
                var $el = $(this);
                var file_id = $el.parent().prop('id').match(/\d+/g)[0];

                var comments = new CodeReview.CommentList({
                    url: '/review/comments_api/'+file_id+'/'
                });

                var app = new CodeReview.AppView({
                    helpWindow: $('#code-review-help'),
                    el: $el,
                    comments: comments,
                    iaAuthenticated: IS_AUTHENTICATED
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="modal hide" id="code-review-help">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans "Help" %}</h3>
        </div>
        <div class="modal-body">
            <p>1. {% trans "Click on row number to add comment." %}</p>
            <p>2. {% trans "There is button on toolbar to show/hide comments. This can be usefull while code copying." %}</p>
            <p>3. {% trans "You can use Markdown in comments." %}</p>
        </div>
    </div>

    <h2>{{ object }}</h2>

    {% if object.description %}
    <p>{{ object.description }}</p>
    {% endif %}

    {% for file in object.file_set.all %}
    <h4>{{ file }}</h4>
    <pre class="brush: {{ file.language }}" id="file-{{ file.pk }}">{{ file.content }}</pre>
    {% endfor %}
{% endblock %}
