{% extends 'base.html' %}

{% load i18n pagination_tags tagging_tags %}
{% load url from future %}

{% block title %}{% trans 'Code Review' %} | {{ block.super }}{% endblock %}

{% block pre_content %}
    {{ block.super }}
    <div class="alert alert-info">
        <h4>{% trans "Welcome to our new application: Code review and snippets!" %}</h4>
        {% trans "Here you can post your code to share experience and solutions, or get feedback from comunity how improve it." %}
        {% trans "Try post working code and small enought. More code, less chance someone review it." %}
    </div>
{% endblock %}

{% block content %}
    <a href="{% url 'code_review:add' %}" class="btn">{% trans "Add snippet" %}</a>
    {% if tag %}
    <a href="?" class="btn">{% trans "Show all" %}</a>
    {% endif %}
    <br><br>

    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    {% for obj in object_list %}
        <div class="well">
            <h4><a href="{{ obj.get_absolute_url }}">{{ obj }}</a></h4>
            <em>{{ obj.created|date:'DATETIME_FORMAT' }}</em> | <a href="{{ obj.author.get_absolute_url }}">{{ obj.author }}</a>
                | {% trans "rating" %}: <span class="label">{{ obj.rating }}</span>
            {% if obj.description %}
                <p>{{ obj.description }}</p>
            {% endif %}

            <p class="tags">
                {% tags_for_object obj as object_tags %}
                {% if object_tags %}{% trans "tags:" %}{% endif %}
                {% for obj_tag in object_tags %}
                    <a href="?tag={{ obj_tag|urlencode }}" {% if tag == obj_tag %}class="active"{% endif %}>{{ obj_tag }}</a>
                {% endfor %}
            </p>
        </div>
    {% endfor %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
