{% load i18n %}
<div id="post-{{ post.pk }}" class="well content post">
    <table class="table">
        <tr>
            <td class="author">
                <a class="date" href="{{ post.get_absolute_url }}">{{ post.created|date:"d.m.Y H:i:s" }}</a><br>
                <a href="{{ post.user.get_absolute_url }}"><img class="img-polaroid" src="{{ post.user.avatar }}" title="{{ post.user }}" /></a>
                <br><a href="{{ post.user.get_absolute_url }}">{{ post.user }}</a>
                <br>{% trans "Posts" %}: {{ post.user.forum_posts.count }}
            </td>
            <td>
                {{ post.get_content }}
            </td>
        </tr>
    </table>
</div>