{% load i18n accounts_tags forum_tags %}
{% load url from future %}

<div id="post-{{ post.pk }}" class="row-fluid post">
    <table class="table">
        <tr>
            <td class="author">
                <a class="date" href="{{ post.get_absolute_url }}"><i class="icon-time"></i> {{ post.created|date:'DATETIME_FORMAT' }}</a><br>
                <a href="{{ post.user.get_absolute_url }}"><img class="img-polaroid" src="{{ post.user.avatar }}" title="{{ post.user }}" /></a>
                <a href="{{ post.user.get_absolute_url }}"><i class="icon-pencil"></i> {{ post.user }}</a>
                <br>{% trans "Posts" %}: {{ post.user.forum_posts.count }}
            </td>
            <td class="content">
                <div class="post-content">
                    {{ post.get_content }}
                </div>

                <div class="clearfix"></div>
                {% if post.user.signature or post.user.has_achievements %}
                    <hr>
                    {% if post.user.signature %}
                    <div class="signature">{{ post.user.signature|urlize|linebreaksbr }}</div>
                    {% endif %}
                    {% achievements post.user 'forum' %}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="author-footer">
                {% if post.user|online %}
                    <p><strong>{% trans "Online" %}</strong></p>
                {% endif %}
            </td>
            <td class="content-footer">
                <a class="answer-post" href="#">{% trans "Answer" %}</a>

                {% if post|can_edit:user %}
                <span class="divider">|</span> <a href="{% url 'forum:edit_post' post.pk %}">{% trans "Edit" %}</a>
                {% endif %}

                {% if post|can_delete:user %}
                <span class="divider">|</span> <a class="delete-post" href="{% url 'forum:delete_post' post.pk %}">{% trans "Delete" %}</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>