{% load i18n forum_tags %}
{% for topic in object_list %}
<div class="row{% if topic|has_unread:user %} success{% endif %}" style="margin-bottom: 10px;">
  <div class="span6">
    <a href="{{ topic.get_absolute_url }}" class="forum-title">{{ topic }}</a>
    {% include 'djforum/_topic_statuses.html' %}
  </div>
  <div class="span2 center" title="{% trans "Replies/Views" %}">
    {{ topic.reply_count }} / {{ topic.views }}
  </div>
  <div class="span2">
    {% with last_post=topic.last_post %}
    {% if last_post %}
    <a href="{{ last_post.get_absolute_url }}">
      <i class="icon-time"></i> {{ last_post.created|date:'DATETIME_FORMAT' }}
    </a><br>
    <a href="{{ last_port.user.get_absolute_url }}"><i class="icon-pencil"></i>  {{ last_post.user|softwraphtml }}</a>
    {% endif %}
    {% endwith %}
  </div>
  {% if not forloop.last %}<hr/>{% endif %}
</div>
{% empty %}
<div class="clearfix"></div>
<p>{% trans "No topics" %}</p>
{% endfor %}
