{% extends "djforum/base.html" %}

{% load i18n staticfiles bootstrap %}
{% load url from future %}

{% block title %}{% trans "Add post" %} | {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block content %}
    <aside class="widget forum">
        <ul class="breadcrumb">
            <li><a class="title" href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> <span class="divider">/</span></li>
            <li><a class="title forum" href="{{ forum.get_absolute_url }}">{{ forum }}</a> <span class="divider">/</span></li>
            <li><a href="{{ topic.get_absolute_url }}">{{ topic }}</a> <span class="divider">/</span></li>
            <li class="active">{% trans "New post" %}</li>
        </ul>

        <form method="post" class="form-horizontal post-form">
            {% csrf_token %}
            <button type="submit" class="submit-button btn btn-small">{% trans "Submit" %}</button>
            {{ form.body }}
            <p>
                {% blocktrans with url='http://daringfireball.net/projects/markdown/syntax' %}
                Use <a href="{{ url }}">Markdown</a> to format text.
                {% endblocktrans %}
            </p>
        </form>
    </aside>
{% endblock %}