{% extends "djforum/base.html" %}

{% load i18n staticfiles bootstrap %}

{% block title %}{% trans "Add topic to" %} {{ forum }} | {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
    <style>
    .control-group-name {
        margin-bottom: -15px;
    }
    #id_name {
        width: 690px;
    }
    </style>
{% endblock %}

{% block content %}
    <aside class="widget forum">
        <ul class="breadcrumb">
            <li><a class="title" href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> <span class="divider">/</span></li>
            <li><a class="title forum" href="{{ forum.get_absolute_url }}">{{ forum }}</a> <span class="divider">/</span></li>
            <li class="active">{% trans "New topic" %}</li>
        </ul>

        <form method="post" class="post-form">
            {% csrf_token %}
            {{ form.name|bootstrap:'nolabel' }}

            <button type="submit" class="submit-button btn btn-small">{% trans "Submit" %}</button>
            {{ form.body|bootstrap:'nolabel' }}
            <p>
                {% blocktrans with url='http://daringfireball.net/projects/markdown/syntax' %}
                Use <a href="{{ url }}">Markdown</a> to format text.
                {% endblocktrans %}
            </p>

            {{ form.send_response|bootstrap }}
        </form>
    </aside>
{% endblock %}