{% extends "djforum/base.html" %}

{% load i18n staticfiles pagination_tags %}
{% load url from future %}

{% block content %}
    <aside class="widget forum">

        <ul class="breadcrumb">
            <li><a class="title" href="{{ forum.category.get_absolute_url }}">{{ forum.category }}</a> <span class="divider">/</span></li>
            <li class="active">{{ forum }}</li>
        </ul>

        <a href="{% url 'forum:add_topic' forum.pk %}" class="pull-right btn btn-small">{% trans "New topic" %}</a>

        {% if is_paginated %}
            {% paginate float='left' %}
        {% endif %}

        {% if object_list %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th class="number-column center smaller">{% trans "Replies" %}</th>
                    <th class="number-column center smaller">{% trans "Views" %}</th>
                    <th class="last-post center">{% trans "Last post" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for topic in object_list %}
                <tr>
                    <td>
                        <a href="{{ topic.get_absolute_url }}" class="forum-title">{{ topic }}</a>
                    </td>
                    <td class="smaller center">{{ topic.reply_count }}</td>
                    <td class="smaller center">{{ topic.views }}</td>
                    <td class="smaller last-post">
                        {% with last_post=topic.last_post %}
                        {% if last_post %}
                            <a href="{{ last_post.get_absolute_url }}">
                                <i class="icon-time"></i> {{ last_post.created|date:'DATETIME_FORMAT' }}
                            </a><br>
                            <a href="{{ last_port.user.get_absolute_url }}"><i class="icon-pencil"></i>  {{ last_post.user }}</a>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>{% trans "No topics" %}</p>
        {% endif %}

        {% if is_paginated %}
            {% paginate float='left' %}
        {% endif %}
    </aside>
{% endblock %}