{% extends "djforum/base.html" %}

{% load i18n staticfiles %}
{% load url from future %}

{% block content %}
    {% for category in categories %}
    <aside class="widget forum">
        <h5 class="short_headline"><span>{{ category }}</span></h5>

        {% with forums=category.forums.all %}
        {% if forums %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th class="number-column center smaller">{% trans "Topics" %}</th>
                    <th class="number-column center smaller">{% trans "Posts" %}</th>
                    <th class="last-post center">{% trans "Last post" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
                <tr>
                    <td>
                        <a href="{{ forum.get_absolute_url }}" class="forum-title">{{ forum }}</a>
                        {% if forum.description %}
                        <p class="description">{{ forum.description }}</p>
                        {% endif %}
                    </td>
                    <td class="smaller center">{{ forum.topics_count }}</td>
                    <td class="smaller center">{{ forum.posts_count }}</td>
                    <td class="smaller last-post">
                        {% with last_post=forum.last_post %}
                        {% if last_post %}
                            <a href="{{ last_post.get_absolute_url }}">
                                <i class="icon-time"></i> {{ last_post.created|date:'DATETIME_FORMAT' }}
                            </a><br>
                            <a href="{{ last_port.user.get_absolute_url }}"><i class="icon-pencil"></i> {{ last_post.user }}</a>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endwith %}
    </aside>
    {% endfor %}

    <div id="brdstats" class="block">
        <h2><span>{% trans "Board information" %}</span></h2>
        <div class="box">
            <div class="inbox">
                <dl class="conr">
                    <dt><strong>{% trans "Board statistics" %}</strong></dt>
                    <dd>{% trans "Total number of registered users:" %} <strong>{{ users_count }}</strong></dd>
                    <dd>{% trans "Total number of topics:" %} <strong>{{ topics_count }}</strong></dd>
                    <dd>{% trans "Total number of posts:" %} <strong>{{ posts_count }}</strong></dd>
                </dl>
                <dl class="conl">
                    <dt><strong>{% trans "User information" %}</strong></dt>
                    <dd>{% trans "Registered users online:" %} <strong>{{ online_count }}</strong></dd>
                    <dd>{% trans "Guests online:" %} <strong>{{ guest_count }}</strong></dd>
                </dl>
                <dl id="onlinelist" class= "clearb">
                    {% if online_count %}
                        <dt><strong>{% trans "Online:" %} </strong></dt>
                        {% for online in users_online %}
                            <dd><a href="{{ online.get_absolute_url }}">{{ online }}</a></dd>
                        {% endfor %}
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
{% endblock %}