{% extends "djforum/base.html" %}

{% load i18n staticfiles %}
{% load url from future %}

{% block content %}
    {% for category in categories %}
    <div class="well">
        <h4 class="title">{{ category }}</h4>

        {% with forums=category.forums.all %}
        {% if forums %}
        <table class="table table-condensed forums">
            <thead>
                <tr>
                    <th></th>
                    <th class="number-column">{% trans "Topics" %}</th>
                    <th class="number-column">{% trans "Posts" %}</th>
                    <th class="last-post">{% trans "Last post" %}</th>
                </tr>
            </thead>
            <tbody>
            {% for forum in forums %}
                <tr>
                    <td>
                        <a href="{{ forum.get_absolute_url }}" class="forum-title">{{ forum }}</a>
                        {% if forum.description %}
                        <p class="description">{{ forum.description }}</p>
                        {% endif %}
                    </td>
                    <td>{{ forum.topics_count }}</td>
                    <td>{{ forum.posts_count }}</td>
                    <td>
                        {% with last_post=forum.last_post %}
                        {% if last_post %}
                            <a href="{{ last_post.get_absolute_url }}">{{ last_post.created|date:"d.m.Y H:i:s" }}</a><br>
                            {% trans "by" %} {{ last_post.user }}
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% endwith %}
    </div>
    {% endfor %}
{% endblock %}