{% extends "djforum/base.html" %}

{% load i18n staticfiles pagination_tags forum_tags %}
{% load url from future %}

{% block content %}
    <aside class="widget forum">

        <ul class="breadcrumb">
            <li><a class="title" href="{% url 'forum:index' %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
            <li class="active">{% trans "Unread topics" %}</li>
        </ul>

        <div class="pull-right topic-toolbar">
            {% if user.is_authenticated %}
            <a href="{% url 'forum:my_topics' %}" class="btn btn-small">{% trans "My topics" %}</a>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'forum:mark_read_all' %}" class="btn btn-small">{% trans "Mark all as read" %}</a>
            {% endif %}
        </div>

        {% if is_paginated %}
            {% paginate float='left' %}
        {% endif %}

        {% include 'djforum/_topic_list.html' %}

        {% if is_paginated %}
            {% paginate float='left' %}
        {% endif %}
    </aside>
{% endblock %}