{% extends 'base.html' %}

{% load i18n bootstrap %}

{% block title %}{% trans 'Feedback' %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "You can send message to us" %}</h1>
    
    <p>
        {% trans "We are glad to hear your questions, comments or suggestions!" %} 
    </p>
    
    <form method="post" action="." class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
        </div>
    </form>
{% endblock %}
