{% extends 'base.html' %}

{% load book_page comments_tags components %}

{% block title %}{{ page.name }}: {{ page.book.name }} | {{ block.super }} {% endblock %}

{% block description %}{{ page.content|striptags|truncatewords:40 }}{% endblock %}

{% block left %}
    {% toc page %}
{% endblock %}

{% block pre_content %}
    {{ block.super }}
    <div class="alert alert-error">
        <h4>Внимание!</h4>
        Книга написана для очень старой версии Django. Надеемся автор обновит ее и мы сможешь обновить перевод.<br>
        Пока советуем читать <a href="{{ DJANGO_DOCUMENTATION_URL }}"><strong>перевод официальной документации</strong></a>.
    </div>
{% endblock %}

{% block content %}
    <div class="well content">
        {{ page.content|safe }}
        {% get_share_links page %}
        {% block comments %}
            {% render_comment_list page %}
            {% render_comment_form page %}
        {% endblock %}
    </div>
{% endblock %}

