{% extends 'base.html' %}

{% load staticfiles i18n analytics adzone_tags news_tags components comments_tags chunks accounts_tags videos_tags %}

{% block page %}
<div class="container clearfix" id="main-content">
    <!--begin main content-->
    <div class="row-fluid">
        <div class="span7">
            {% recipes %}
        </div>
        <div class="span4 offset1">
            {% last_news %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span7">
            {% user_activities %}
        </div>
        <div class="span4 offset1">
            {% last_videos %}
        </div>
    </div>

    <div class="row-fluid">
        <section class="call-to-action trad clearfix">
            <div class="message">
                <h3>It is better to e-enable extensibly</h3>
                <p>We will amplify our power to benchmark without decreasing our capacity to mesh. We will reinvent the buzzword "frictionless".</p>
            </div>
            <div class="action"> <a href="register.html" class="btn-primary btn btn-large">30 Day Free Trial &nbsp;<i class="icon-circle-arrow-right icon-white"></i></a> </div>
        </section>
    </div>
    <!--close row-fluid-->
    <div class="row-fluid center">
        <div class="span3"> <a class="biggieicon" href="#"><i class="icon-paper-clip"></i></a>
            <h4 class="border-b">It’s Wonderful</h4>
            <p class="bumpdown">We here at Crisp have proven we know that it is better to e-enable extensibly than to architect seamlessly. If all of this may seem wonderful to you, that's because it is! Our functionality is unparalleled in the industry.</p>
            <p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
        </div>
        <div class="span3"> <a class="biggieicon" href="#"><i class="icon-wrench"></i></a>
            <h4 class="border-b">Sum it up!</h4>
            <p class="bumpdown">We have proven we know that it is better to disintermediate intuitively than to expedite virally. The dot-com, mission-critical structuring factor can be summed up in one word: compelling.</p>
            <p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
        </div>
        <div class="span3"> <a class="biggieicon" href="#"><i class="icon-refresh"></i></a>
            <h4 class="border-b">Factor the Short Term</h4>
            <p class="bumpdown">The accounting factor is short-term. Our functionality is unmatched, but our transparent models and user-proof configuration is constantly considered a remarkable achievement.</p>
            <p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
        </div>
        <div class="span3"> <a class="biggieicon" href="#"><i class="icon-comments-alt"></i></a>
            <h4 class="border-b">User-Centric</h4>
            <p class="bumpdown">Think intra-client-focused. Think viral. Think resource-constrained. Think user-centric. But don't think all three at the same time. The ability to redefine extensibly leads to the ability to incentivize iteravely.</p>
            <p class="center"><a href="#" class="btn btn-small btn-very-subtle">More &rarr;</a></p>
        </div>
    </div>
    <!--close row-fluid -->
    <hr class="empty" />
    <h3 class="short_headline"><span>What does it really mean to e-enable "intuitively"?</span></h3>
    <div class="row-fluid">
        <div class="span7">
            <p><img class="alignleft" src="../demo/fresh-work/fw-708px-Vincent_Willem_van_Gogh_012.png" alt=" " />We here at Crisp have come to know that it is better to synthesize strategically than to morph seamlessly. The web services factor can be summed up in one word: clicks-and-mortar, 24/7/365. Without appropriate biometrics, returns-on-investment are forced to become B2C. What does the term "best-of-breed" really mean? </p>
            <p> Crisp practically invented the term "e-tailers". Think macro-B2C. What does it really mean to e-enable "intuitively"? Without Total Quality Management, you will lack social networks. What do we aggregate? Anything and everything, regardless of reconditeness! Do you have a plan of action to become cross-media? We will maximize our capability to envisioneer without decrementing our ability to target. If you engineer efficiently, you may have to exploit dynamically. Our feature set is unmatched in the industry, but our holistic eyeballs and user-proof use is invariably considered a terrific achievement. We apply the proverb "It never rains but it pours" not only to our process management but our capacity to exploit. </p>
        </div>
        <div class="span4 offset1">
            <!-- ****** TABBED CONTENT ******-->
            <aside class="widget">
                <h5 class="short_headline"><span>Blog</span></h5>
                <div class="sidebar-tabs">
                    <ul class="tabs">
                        <li class="tab"><a href="#tab-latest">Latest</a></li>
                        <li class="tab"><a href="#tab-popular">Popular</a></li>
                        <li class="tab"><a href="#tab-tags">Tags</a></li>
                    </ul>
                    <div class="panels">
                        <div id="tab-latest">
                            <ul class="blogposts clearfix">
                                <!--required class-->
                                <li> <span class="date"> <span class="month">Jan</span> <span class="day">13</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">We frequently maximize turn-key infrastructures</a></h3>
                                    <a href="blog-single.html">
                                    <p> Your budget for unleashing should be at least twice...</p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Nov</span> <span class="day">28</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Split of a Second</a></h3>
                                    <a href="blog-single.html">
                                    <p> Wingsuit World Champion Espen Fadnes and...</p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Sep</span> <span class="day">18</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Latte Art</a></h3>
                                    <a href="blog-single.html">
                                    <p> Creating art with latte coffee.
                                        Lorem ipsum dolor sit amet... </p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Mar</span> <span class="day">3</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h3>
                                    <a href="blog-single.html">
                                    <p>senectus et netus et malesuada fames ac turpis egestas...</p>
                                    </a> </li>
                            </ul>
                        </div>
                        <!-- close #tab-latest-->
                        <div id="tab-popular">
                            <!--begin tab-popular-->
                            <ul class="blogposts clearfix">
                                <!--required class-->
                                <li> <span class="date"> <span class="month">Jan</span> <span class="day">13</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">We frequently maximize turn-key infrastructures</a></h3>
                                    <a href="blog-single.html">
                                    <p> Your budget for unleashing should be at least twice...</p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Nov</span> <span class="day">28</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Split of a Second</a></h3>
                                    <a href="blog-single.html">
                                    <p> Wingsuit World Champion Espen Fadnes and...</p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Sep</span> <span class="day">18</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Latte Art</a></h3>
                                    <a href="blog-single.html">
                                    <p> Creating art with latte coffee.
                                        Lorem ipsum dolor sit amet... </p>
                                    </a> </li>
                                <li> <span class="date"> <span class="month">Mar</span> <span class="day">3</span> <span class="year">2012</span> </span>
                                    <h3><a href="blog-single.html">Lorem ipsum dolor sit amet</a></h3>
                                    <a href="blog-single.html">
                                    <p>senectus et netus et malesuada fames ac turpis egestas...</p>
                                    </a> </li>
                            </ul>
                        </div>
                        <!-- close #tab-popular-->
                        <div id="tab-tags" class="tag-wrapper"> <a href="#" class="tag">business</a> <a href="#" class="tag">fun</a> <a href="#" class="tag">food</a> <a href="#" class="tag">design</a> <a href="#" class="tag">old</a> <a href="#" class="tag">recent</a> <a href="#" class="tag">junk</a> <a href="#" class="tag">important</a> <a href="#" class="tag">fonts</a> <a href="#" class="tag">css3</a> <a href="#" class="tag">php</a> <a href="#" class="tag">seamless</a> <a href="#" class="tag">complicated</a> </div>
                        <!-- close #tab-tags .tag-wrapper-->
                    </div>
                    <!--close .panels (all of them)-->
                </div>
                <!--close .sidebar-tabs-->
            </aside>
            <!-- close .widget containing blog tabs-->
        </div>
    </div>
    <!--close row-fluid -->
</div>
<!--close .container id="main-content" -->
{% endblock %}