.navbar {
    margin-bottom: 0px;
}

hr {
    margin: 15px 0;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;    
}

.center-container {
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}

.left-column a {
    color: #487858;
}

.right-column {
    width: 116px;
    float: right;
}

.center-column {
    margin-right: 136px;
}

.top-container {
    widht: 100%;
    background-color: #94ce4a;
}

.top-container .row-fluid {
    margin-top: 10px;
}

.top-container .search {
    padding-top: 12px;
}

.content-container {
    margin-top: 10px;
}

/* sidebar-item */
.sidebar-item {
    margin-bottom: 6px;
    padding: 6px;
}

.sidebar-item hr {
    margin: 0 0 2px;
}
/* news-item */