.navbar {
    margin-bottom: 0px;
}

.well {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f0f5ea;
    margin-bottom: 6px;
    padding: 6px;
}

hr {
    margin: 15px 0;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;    
}

.center-container {
    padding-left: 0px;
    padding-right: 0px;
    float: left;
}

.content-container .row-fluid .span9 {
    margin-left: 1.9%;
}

.left-column a {
    color: #487858;
}

.right-column {
    width: 116px;
    float: right;
}

.center-column {
    margin-right: 136px;
}

.top-container, footer {
    widht: 100%;
    background-color: #94ce4a;
}

.top-container a, footer a{
    color: #487858;
}

.top-container .row-fluid {
    margin-top: 10px;
}

.top-container .search {
    padding-top: 12px;
}

.content-container {
    margin-top: 10px;
}

/* sidebar-item */
.sidebar-item hr {
    margin: 0 0 2px;
}
/* news-item */

/* right-column */
.right-column a {
    color: #487858;
}

.right-column .well h5, .right-column .well p {
    line-height: 15px;
    font-size: 10px;
}

.well.yandex-money {
    padding: 0px;
}

.well.yandex-money table {
    margin-left: -1px;
}

.well.yandex-money h5, .well.yandex-money p {
    margin-left: 5px;
}

#spelling_error_count_pending,
#spelling_error_count_assigned,
#spelling_error_count_fixed,
#spelling_error_count_invalid {
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

#spelling_error_count_pending {
    border: 1px solid yellow;
}

#spelling_error_count_assigned {
    border: 1px solid orange;
}

#spelling_error_count_fixed {
    border: 1px solid green;
}

#spelling_error_count_invalid {
    border: 1px solid red;
}
/* right-column */

/* content */
.content {
    background-color: #f5f5f5;
}

.content a {
    color: #487858;
}
/* content */

/* toc */
.toc .nav-list .nav-header {
    margin-top: 0;
    padding: 1px 15px;
}

.toc .nav-list li {
    line-height: 16px;
    padding-left: 5px;
}
/* toc */

/* comments */
.comments .user_thumb {
    margin-right: 10px;
}

.comments a.link, .comments a.reply, .comments a.delete, .comments a.edit {
    margin: 0 3px;
}

.comments .replied {
    margin-left: 90px;
    margin-top: 3px;
    background-color: #d0ecf2;
}

#comment-form textarea {
    width: 90%;
}
/* comments */