#poll_content {background-color: #0B9D0B; padding: 3px;}
#poll_content h1 {font-variant: small-caps;}
#poll_content #poll_userspace {float: left; width: 100%; text-align: right;}
#poll_content #poll {color: #b10000; font-variant: small-caps; text-decoration: underline;}
#poll_content #warning {color: #f88885;}

#poll_item_dl {clear: both; width: 100%;} 

#poll_body {background-color: #327f42; padding: 10px 10% 3px 20px; clear: both; border-bottom: 3px solid #006600; border-left: 1px solid #005500;}
#poll_body #showresults {font-variant: small-caps;}
#poll_body #sendvote {padding: 5px;}

#poll_body #bar {display: block; padding: 5px; border-bottom: 2px solid #444; border-left: 1px solid #222;}
#poll_body #bar.max_bar {background-color: red;}
#poll_body #bar.normal_bar {background-color: white;}

#poll_body #voters_count {text-align: right; border-top: 2px solid #333; margin: 25px; padding-top: 4px;}
#poll_body #total {font-size: 1.5em;}
