{% load i18n components %}

<aside class="widget" id="recipe-category-{{ category.pk }}">
    <h5 class="short_headline"><span>{{ category }}</span></h5>

    <ul class="blogposts clearfix">
        {% for example in category.examples.approved %}
        <li>
            {{ example.created|pretty_date }}
            <h3><a href="{{ example.get_absolute_url }}">{{ example }}</a></h3>
            <a href="{{ example.author.get_absolute_url }}">
                <p><i class="icon-pencil"></i> {{ example.author }}</p>
            </a>
            <a href="{{ example.topic.get_absolute_url }}" class="pull-right" style="margin-top: -1.1em">
                <p>
                    <i class="icon-comments"></i>
                    {{ example.topic.reply_count }}
                    {% blocktrans count counter=example.topic.reply_count %}comment{% plural %}comments{% endblocktrans %}
                </p>
            </a>
        </li>
        {% endfor %}
    </ul>
</aside>