{% extends 'base.html' %}

{% load i18n comments_tags markup components %}

{% block title %}{{ obj }} | {% trans 'Examples' %} |{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ obj }}</h1>
    <p style="margin-top: -5px">
        <a href="{{ obj.category.get_absolute_url }}">{{ obj.category }}</a>
        <br/> 
        {% trans 'Author' %}: <a style="color: #fff" href="{{ obj.author.get_absolute_url }}">
            {{ obj.author }}
        </a>
    </p>
    {{ obj.content|markdown }}
	{% get_share_links obj %}
    {% render_comment_list obj %}
    {% render_comment_form obj %}
{% endblock %}
