{% extends 'examples/base.html' %}

{% load i18n markup components bootstrap %}

{% block title %}{% trans "Add" %} | {{ block.super }}{% endblock %}

{% block head %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}

{% block header_container %}{% endblock %}

{% block content %}
    <div class="register-box clearfix">
        <h2 class="short_headline"><span>{% trans "Edit recipe" %}</span></h2>

        <p>
          {% blocktrans %}We
          use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>
          to format the content. Please use it to get your receipt to the
          community faster.{% endblocktrans %}
        </p>

        <form class="form-horizontal" id="registration-form" action="." method="post" novalidate="novalidate">
            {% csrf_token %}
            <fieldset>
                {% bootstrap form extra_class='span12' %}
                <div class="form-actions">
                    <input class="btn btn-large" type="submit" name="create" value="{% trans 'Save' %}">
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
