{% extends 'base.html' %}

{% load i18n comments_tags components %}

{% block title %}{% trans 'Recipes' %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans 'Recipes' %}</h1>
    {% for category in categories %}
        <h2><a href="{{ category.get_absolute_url }}">{{ category }}</a></h2>
        {% for item in category.examples.approved %}
            <p style="padding-left: 20px;">
                <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                (<a class="comments-number" href="{{ item.get_absolute_url }}#comments">
                    {% trans 'Comments' %}: {% get_comment_count item %}
                </a>)
				<br/>
				{% facebook_like item %}
                <br/>
                {% trans 'Author' %}: <a style="color: #fff" href="{{ item.author.get_absolute_url }}">
                    {{ item.author }}
                </a>                                
            </p>
        {% endfor %}
    {% endfor %}
{% endblock %}