{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Recipes' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% for category in categories %}
        <h3><a href="{{ category.get_absolute_url }}">{{ category }}</a></h3>
        {% for item in category.examples.approved %}
            <p style="padding-left: 20px;">
                <a href="{{ item.get_absolute_url }}" {% if item.url %}class="link"{% endif %}>{{ item }}</a>
                <br/>
                {% trans 'Author' %}: <a =href="{{ item.author.get_absolute_url }}">
                    {{ item.author }}
                </a>                                
            </p>
        {% endfor %}
    {% endfor %}
{% endblock %}
