<div class="news-inc">
    <div style="font-family: arial; font-size: 12px; font-weight: bold; border-bottom: 1px dotted rgb(148, 206, 74);">
        Планы
    </div>
    <div style="font-size: 8px; text-align: right;">
        2010-03-06 22:15:07
    </div>
    <div class="text">
        <p>
            Окончательно понял, что ресурсов по дальнейшему переводу в ближайшее время у меня так и не появится. Что ж, будем менять формат сайта. Он по-прежнему останется ориентированным на новичков. Но и заматеревших джангистов тоже приятно видеть на нашем канале.
        </p>
        <p>
            Исходники перевода будут выложены в формате DocBook XML в Git. Патчи с исправлениями и, может быть, переводами оставшихся глав будут приниматься, проверяться и выкладываться на сайт. Думаю, это поможет всем желающим поучаствовать в данном проекте.
        </p>
    </div>
    <br>
</div>
<div class="news-inc">
    <div style="font-family: arial; font-size: 12px; font-weight: bold; border-bottom: 1px dotted rgb(148, 206, 74);">
        Выложена шестая глава
    </div>
    <div style="font-size: 8px; text-align: right;">
        2009-11-12 19:52:46
    </div>
    <div class="text">
        <p>
            Несмотря на страшную загруженность была завершена работа по проверке перевода шестой главы, который был предоставлен Дмитрием aka Alerion. Огромное ему спасибо за проделанную работу.
        </p>
    </div>
    <br>
</div>
