{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Feedback' %} | {{ block.super }}{% endblock %}

{% block content %}
    <h1>{% trans "You can send message to us" %}</h1>
    
    <p>
        {% trans "We are glad to hear your questions, comments or suggestions!" %} 
    </p>
    
    <form method="post" action=".">
        <table>
        {{ form }}
        {% csrf_token %}
        <tr>
            <td></td>
            <td style="text-align: right;">
                <input type="submit" value="{% trans 'Send' %}"/>
            </td>
        </tr>
        </table>
    </form>
{% endblock %}
