{% extends 'base.html' %}

{% load i18n book_page news_tags comments_tags components cache %}

{% block description %}Джанго является высокоуровневой средой разработки основанной на языке Питон, которая нацелена на ускоренный процесс разработки и явный дизайн.{% endblock %}

{% block content %}
    {% main_page_toc book %}
{% endblock %}

{% block post_content %}
    <div class="row-fluid bottom-container">
        <div class="content well">
            {% cache 300 random_recipes_page_component %}
                {% random_recipes %}
            {% endcache %}
        </div>
        <div class="content well left">
            {% random_forum_topics %}
        </div>
    </div>
{% endblock %}

{% block left %}
    {% last_news %}
    {% last_comments %}
{% endblock %}