{% extends 'basepage.html' %}

{% load i18n pagination_tags bootstrap components markup %}

{% block title %}{% trans 'Search' %} | {{ block.super }}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form class="form-inline" method="get" action=".">
        {{ form.q }}
        {{ form.content }}
        <button type="submit" class="btn">{% trans "Search" %}</button>
    </form>

    {% for item in object_list %}
    <article class="entry-post">
        <header class="entry-header">
            <h3 class="entry-title"><a href="{{ item.object.get_absolute_url }}">{{ item.object.search.title|default:'No title'|striptags|safe }}</a></h3>
            <div class="byline">
                {% if item.author %}
                <a href="{{ item.author.get_absolute_url }}"><i class="fa fa-pencil"></i> {{ item.author }}</a> &nbsp;&nbsp;
                {% endif %}
                {% if item.created %}
                <i class="fa fa-clock-o"></i> {{ item.created|date:'DATE_FORMAT' }} &nbsp;&nbsp;
                {% endif %}
                <i class="fa fa-folder-open"></i> {{ item|search_model_name }}
            </div>
        </header>

        <div class="entry-content">
            {{ item.object.search.desc|default:'No description'|filter_markdown:35 }}
            <p class="more right">
                <a class="btn" href="{{ item.object.get_absolute_url }}">{% trans 'Read More' %} →</a>
            </p>
        </div>

        <footer class="entry-footer">
            {{ item.created|pretty_date:'blog' }}
        </footer>
    </article>

    {% comment %}
    Яндекс не разрешает показывать больше девяти рекламных блоков на странице.
    Подключаемый шаблон содержит три блока, поэтому подключаем этот шаблон три раза.
    {% endcomment %}
    {% if forloop.counter|divisibleby:"5" and forloop.counter < 20 %}
    <article class="entry-post">
      {% include "_yandex.html" with index=forloop.counter %}
    </article>
    {% endif %}

    {% comment %}
    Если результатов поиска нет или их меньше пяти, то подключаем рекламу только в низу страницы.
    {% endcomment %}
    {% if object_list|length < 5 %}
    <article class="entry-post">
      {% include "_yandex.html" with index=forloop.counter %}
    </article>
    {% endif %}

    {% endfor %}

    {% comment %}
    <div class="search_results">
        {% for item in object_list %}
            <div class="item">
                <div class="title">
                    <a href="{{ item.object.get_absolute_url }}">{{ item.object.search.title|default:'No title'|safe }}</a>
                    <div class="source">{{ item.object.search.source }}</div>
                </div>
                <div class="desc">{{ item.object.search.desc|default:'No description'|safe|truncatewords:50  }}</div>
            </div>
        {% empty %}
            <p>{% trans "No search results" %}</p>
        {% endfor %}
    </div>
    {% endcomment %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}
