{% extends 'base.html' %}

{% load i18n pagination_tags %}

{% block title %}{% trans 'Search' %} | {{ block.super }}{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% paginate %}
    {% endif %}

    {% spaceless %}
    <div class="search_results">
        <h3>{% trans "Search for" %}: "{{ searching_for }}"</h3>

        {% for item in object_list %}
            <div class="item">
                <div class="title">{{ item.object.get_absolute_url }}
                    <a href="{{ item.object.get_absolute_url }}">{{ item.object.search.title|default:'No title'|safe }}</a>
                </div>
                <div class="desc">{{ item.object.search.desc|default:'No description'|safe|truncatewords_html:10  }}</div>
            </div>
        {% empty %}
            <p>{% trans "No results" %}</p>
        {% endfor %}
    </div>
    {% endspaceless %}

    {% if is_paginated %}
        {% paginate %}
    {% endif %}
{% endblock %}