# -*- coding: utf-8 -*-

import os, sys, site
sys.stdout = sys.stderr
sys.path.insert(0, '${target_site_packages}')
sys.path.insert(1, '${target_project_src}')
site.addsitedir('${target_site_packages}')
os.environ['DJANGO_SETTINGS_MODULE'] = 'settings'
from django.core.handlers.wsgi import WSGIHandler
application = WSGIHandler()
