{% extends 'base.html' %}

{% load i18n %}

{% block page %}
    <div class="container visible-phone hidden-tablet hidden-desktop">
        <p class="right"><a class="btn btn-primary" href="#secondary-nav">Menu &nbsp;<i class="icon-align-justify"></i></a></p>
    </div>

    {% block header_container %}
    <div class="hero-unit">
        <div class="container">
            <h2>{% block header %}{% endblock %}</h2>
        </div>
    </div>
    {% endblock %}

    <div class="container clearfix" id="main-content">
        <!--begin main content-->
        <div class="row-fluid sidebar-right">
            <div class="span9 primary-column {% block content_class %}blog-summary{% endblock %}">
                {% block content %}{% endblock %}
            </div>

            <section class="span3 sidebar secondary-column" id="secondary-nav">
                {% block sidebar %}
                    {% include '_sidebar.html' %}
                {% endblock %}
            </section>
        </div>
        <!--close row-fluid-->
    </div>
{% endblock %}