{% extends 'base.html' %}

{% load i18n thumbnail bootstrap %}

{% block title %}{% trans 'Reset password' %} | {{ block.super }}{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data" class="edit-form form-horizontal">
    {% csrf_token %}
    <h3>
        {% trans 'Reset password' %}
    </h3>
    {% csrf_token %}
    <fieldset>
        {{ form|bootstrap }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Send" %}</button>
    </div>
</form>
{% endblock %}