{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Reset password' %} | {{ block.super }}{% endblock %}

{% block page %}
<div class="container clearfix" id="main-content">
    <div class="row-fluid">
        <div class="register-box clearfix">
            <div class="alert alert-success">
                <h4>{% trans 'Password reset complete' %}</h4>
               {% trans "Your password has been set.  You may go ahead and log in now." %}<br>
               <a href="{{ login_url }}">{% trans 'Log in' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
