{% load i18n analytics forum_extras %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{{ forum_settings.FORUM_BASE_TITLE }} {% block title %}{% endblock %}</title>
    <meta name="description" content="{{ forum_settings.FORUM_META_DESCRIPTION }} " />
    <meta name="keywords" content="{{ forum_settings.FORUM_META_KEYWORDS }}" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    {% set_theme_style request.user %}
    <link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_posts_feed %}" title="{% trans "Latest posts on forum" %}" />
    <link rel="alternate" type="application/atom+xml" href="{% url djangobb:forum_topics_feed %}" title="{% trans "Latest topics on forum" %}" />

    <link rel="shortcut icon" href="{% static "forum/favicon.png" %}" type="image/png" />
    {% if not settings.DEBUG %}{% analytics_async "UA-3919032-6" %}{% endif %}
    <script src="{% static "js/jquery-1.7.1.min.js" %}"></script>

    <script>
        var MEDIA_URL = '{{ STATIC_URL }}';
        var POST_PREVIEW_URL = "{% url djangobb:post_preview %}";
    </script>
    {% if post %}
        {% set_markup_editor request.user post.markup %}
    {% else %}
        {% set_markup_editor request.user %}
    {% endif %}
    {% if user.is_authenticated %}
        <script type="text/javascript" >
           $(document).ready(function() {
            $(".markup").markItUp(mySettings);

              $.ajaxSetup({
                  beforeSend: function(xhr, settings) {
                      function getCookie(name) {
                          var cookieValue = null;
                          if (document.cookie && document.cookie != '') {
                              var cookies = document.cookie.split(';');
                              for (var i = 0; i < cookies.length; i++) {
                                  var cookie = jQuery.trim(cookies[i]);
                                  // Does this cookie string begin with the name we want?
                                      if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                          break;
                                      }
                              }
                          }
                          return cookieValue;
                      }
                      if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                          // Only send the token to relative URLs i.e. locally.
                          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                      }
                  }
              });
           });
        </script>
    {% endif %}

    <!-- Highlightjs goodies -->
    <script type="text/javascript" src="{% static "forum/js/highlight.pack.js" %}"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
    <link type="text/css" rel="stylesheet" href="{ % static "forum/css/hljs_styles/djangobb.css" %}"/>
    {% if highlight_word %}
        <script type="text/javascript" src="{% static "forum/js/jquery.highlight-3.pack.js" %}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("div.postmsg").highlight("{{ highlight_word }}");
            });
        </script>
    {% endif %}
    {% block extra_meta %}{% endblock %}
</head>
<body>
    {% include 'forum/header.html' %}
    {% block content %}{% endblock %}
    <div id="brdfooter" class="block">
    <h2><span>{% trans "Board footer" %}</span></h2>
    <div class="box">
        <div class="inbox">
            {% block controls %}
            {% endblock %}
            <p class="conr">Powered by <a href="http://djangobb.org/">DjangoBB</a></p>
            <p class="conr">
{% if not settings.DEBUG %}
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t52.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров и"+
" посетителей за 24 часа' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
{% else %}
<div>Disabled in DEBUG mode</div>
{% endif %}
            </p>
            <div class="clearer"></div>
        </div>
    </div>
</div>
</body>
</html>
