{% extends 'base.html' %}

{% load i18n thumbnail %}

{% block title %}{% trans 'Edit Profile' %} | {{ block.super }}{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data" class="edit-form">
    {% csrf_token %}
    <h3>
        {% trans 'Edit profile' %} / 
        <a href="{% url djangobb:forum_profile user.username %}">{% trans "Edit forum profile" %}</a>
    </h3>
    <formset>
    {{ form.non_field_errors }}
    {{ form.as_p }} 
    </formset>
    <p style="text-align:center;">
        <input type="submit" class="btn" value='{% trans "Save" %}'>
    </p>
    <div style="clear: both"></div>
</form>
{% endblock %}