{% extends 'accounts/base.html' %}

{% load thumbnail i18n accounts_tags %}
{% load url from future %}

{% block title %}{% trans 'Notifications' %} | {{ block.super }}{% endblock %}

{% block content %}
<div class="content-tabs">
    <!-- wrapper required -->
    <ul class="tabs">
        <li class="tab"> <a href="#comments_tab" class="">{% trans "Comments" %} {% if reply_comments_count %}<span class="label label-warning">{{ reply_comments_count }}</span>{% endif %}</a> </li>
        <li class="tab"> <a href="#doc_comments_tab" class="">{% trans "Doc. comments" %} {% if doc_comments_count %}<span class="label label-warning">{{ doc_comments_count }}</span>{% endif %}</a> </li>
    </ul>
    <div class="panels">
        <div class="pane" id="comments_tab">
            <section class="entry-comments clearfix">
                <ul class="comments-list">
                {% for item in reply_comments %}
                    {% include "comments/_display_item.html" %}
                {% endfor %}
                </ul>
            </section>
        </div>
        <div class="pane" id="doc_comments_tab">
            <section class="entry-comments clearfix">
                <ul class="comments-list">
                {% for item in doc_comments %}
                    {% include "doc_comments/_display_item.html" %}
                {% endfor %}
                </ul>
            </section>
        </div>
    </div>
    <!--close panels-->
</div>
{% endblock %}