{% extends 'accounts/base.html' %}

{% load thumbnail i18n staticfiles accounts_tags %}

{% block title %}{{ user_obj }} | {{ block.super }}{% endblock %}
{% block head %}
  {% if user_position_json != "null" %}
    <link rel="stylesheet" href="{% static "leeflet_0.4.5/dist/leaflet.css" %}" type="text/css"/>
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static "leeflet_0.4.5/dist/leaflet.ie.css" %}" type="text/css"/>
    <![endif]-->
    <script src="{% static "leeflet_0.4.5/dist/leaflet.js" %}"></script>
    <style>
        #map {
            height: 300px;
        }
    </style>
    <script>
    jQuery(function($){
        var IS_AUTHENTICATED = {% if user.is_authenticated %}true{% else %}false{% endif %};
        var USER_POSITION = {{ user_position_json|safe }};

	// create a map in the "map" div, set the view to a given place and zoom
	var map = L.map('map', {
	    minZoom: 2
	}).setView([USER_POSITION.lat, USER_POSITION.lng], 8);

	// add an OpenStreetMap tile layer
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
	    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);

	  // define markers
	var UserMarker = L.Icon.extend({
	    options: {
		shadowUrl: null,
		iconAnchor: new L.Point(16, 36),
		iconSize: new L.Point(32, 37),
		iconUrl: '{% static "leeflet_0.4.5/icons/snakes.png" %}'
	    }
	});

	var userMarker = null;
	userMarker = L.marker([USER_POSITION.lat, USER_POSITION.lng], {icon: new UserMarker()});
	userMarker.addTo(map);
    });
    </script>
  {% endif%}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span5 offset2">
            <h2>{{ user_obj }}</h2>

            <p>
            {% if user_obj.first_name or user_obj.last_name %}
                <h4>{{ user_obj.first_name }} {{ user_obj.last_name }}</h4>
            {% endif %}
            </p>

            <p>
                <strong>{% trans 'Forum posts count' %}:</strong> {{ user_obj.forum_post_count }}<br/>
                <strong>{% trans 'Comments count' %}:</strong> {{ user_obj.comments_count }}
            </p>

            {% if user_obj.biography %}
            <p class="well" style="margin-top: 5px">
                {{ user_obj.biography|linebreaksbr }}
            </p>
            {% endif %}

            {% achievements user_obj %}
        </div>
        <div class="span3">
            <img src="{{ user_obj.avatar }}" class="img-polaroid"/>
        </div>
    </div>
    {% if user_position_json != "null" %}
    <br>
    <div class="row">
      <div class="span9 offset2">
	<div id="map"></div>
      </div>
    </div>
    {% endif %}
{% endblock %}
