{% extends "admin/change_form.html" %}

<!-- LOADING -->
{% load i18n admin_modify admin_static %}

<!-- OBJECT TOOLS -->
{% block object-tools %}
    {{ block.super }}
    {% if change %}
        {% if not original.approved %}
            <ul class="messagelist">
                <li class="warning">{% trans "Pay attention! This post is not approved and can be from users. It can contain XSS in content, so use 'View on site' carefully." %}</li>
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}