# -*- coding: utf-8 -*-
from settings import *

DEBUG = True
SITE_URL = 'http://127.0.0.1:8000/'

DATABASES = {
    'default': dict(
        ENGINE='django.db.backends.sqlite3',
        NAME=rel_project('db.sqlite'),
    )
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.simple_backend.SimpleEngine',
    },
}

# make symlink from /django_documentation/_build/html/ to /djbookru/docs/rel<version>
# e.g. ln -s ~/workspace/django_documentation/_build/html/ ~/workspace/djbookru/docs/rel1.8
STATICFILES_DIRS += (
    rel_project('docs'),
)
DJANGO_DOCUMENTATION_URL = '/static/rel%s/index.html' % DJANGO_DOCUMENTATION_VERSION
DJANGO_DOCUMENTATION_SITEMAP_URL = '/static/rel%s/sitemap.xml' % DJANGO_DOCUMENTATION_VERSION
