# -*- coding: utf-8 -*-
from settings import REL

DEBUG = True
TEMPLATE_DEBUG = True

DATABASES = {
    'default': dict(
        ENGINE='django.db.backends.sqlite3',
        NAME=REL('db.sqlite'),
    )
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# make symlink from /django_documentation/_build/html/ to /djbookru/src/static/html
# e.g. ln -s ~/Workspace/django_documentation/_build/html/ ~/Workspace/djbookru/src/static/html
DJANGO_DOCUMENTATION_URL = '/static/html/index.html'
HAYSTACK_SEARCH_ENGINE = 'dummy'
