{% load thumbnail i18n %}

<div class="comment well {% if item.created > last_doc_comments_read %}new{% endif %}">
    <span class="user_thumb pull-left">
        <img src="{{ item.author.avatar }}" alt="{{ item.author }}" />
    </span>
    <div class="table_user_deets pull-left">
        <a href="{{ item.author.get_absolute_url }}">{{ item.author }}</a>
        <span class="comment_date"><em>{{ item.created|timesince }} {% trans 'ago' %}</em></span>
    </div>

    {% if user.is_staff and perms.doc_comments.delete_comment %}
        <a href="{% url admin:doc_comments_comment_delete item.pk %}" class="delete pull-right" target="blank">
            <i class="icon-remove"></i>
        </a>
    {% endif %}
    {% if user.is_staff and perms.doc_comments.change_comment %}
        <a href="{% url admin:doc_comments_comment_change item.pk %}" class="edit pull-right" target="blank">
            <i class="icon-edit"></i>
        </a>
    {% endif %}
    <span class="pull-right">|</span>
    <a href="{{ item.get_absolute_url }}" class="link pull-right">{% trans 'View comment' %}</a>
    <div class="text">
        <p>{{ item.get_content|safe }}</p>
    </div>
</div>