    {% load thumbnail i18n %}    
    
    {% if rtopic.attachment_type == "text" %}
    <p>
        ----- <br/>
        <strong>{% trans 'File Attachment' %}:</strong><br/>
        <a href="{{MEDIA_URL}}/{{rtopic.file}}" >{{ rtopic.filename }}</a>
        &nbsp; <a href="">{% trans 'Download' %}</a>
    </p>
    {% endif %}
    
    {% if rtopic.attachment_type == "image" %}
    <p>
        ----- <br/>
        <strong>{% trans 'Image Attachment' %}:</strong><br/>
        {{rtopic.filename}}<br/><br/>
        <a href="{{MEDIA_URL}}/{{ rtopic.file }}">
            <img src="{% thumbnail rtopic.file 200x200 %}" />
        </a>   
        &nbsp; <a href="">{% trans 'Download' %}</a>
    </p>
    {% endif%}
                                                