{% extends 'base.html' %}

{% load i18n bootstrap %}
{% load url from future %}

{% block title %}{% trans 'Register' %} | {{ block.super }}{% endblock %}

{% block page %}
<div class="container clearfix" id="main-content">
    <div class="row-fluid">
        <div class="register-box clearfix">
            <h2 class="short_headline"><span>{% trans 'Register' %}</span></h2>
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                    {{ form|bootstrap }}
                </fieldset>
                <div class="form-actions">
                    <button class="btn btn-primary btn-large">{% trans 'Create' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}