{% extends 'base.html' %}

{% load i18n bootstrap %}
{% load url from future %}

{% block title %}{% trans 'Reset password' %} | {{ block.super }}{% endblock %}

{% block page %}
<div class="container clearfix" id="main-content">
    <div class="row-fluid">
        <div class="register-box clearfix">
            {% if validlink %}
                <h2 class="short_headline"><span>{% trans 'Enter new password' %}</span></h2>
                <form action="" method="post" enctype="multipart/form-data" class="edit-form form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        {{ form|bootstrap }}
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-large">{% trans "Send" %}</button>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-error">
                    <h4>{% trans 'Password reset unsuccessful' %}</h4>
                    {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}